
<div style="margin-left: 70px;margin-right: 70px">
  <h1 class="text-center" style="margin: 100px 0 50px">Danh sách món ăn</h1>
  <div class="text-center">

</div>
  <div style="height: 300px">

    <table class="table table-hover">
      <thead>
      <tr class="bg-info" style="color: white">
        <th scope="col" style="width: 100px">STT</th>
        <th scope="col" style="width: 200px">Tên món ăn</th>
        <th scope="col" style="width: 150px">Giá(VND)</th>
        <th scope="col" style="width: 500px">Mô tả món ăn</th>
      </tr>
      </thead>

      <tbody>
      <tr  [class.choose]="food.id == index" (click)="choice(food.id,food.name)"  style="cursor: pointer"  *ngFor="let food of foodList['content'], index as i">
        <td>{{i + 1 + foodList.number * foodList.size}}</td>
        <td>{{food.name}}</td>
        <td>{{food.price | currency: 'VND': 'symbol'}}</td>
        <td>{{food.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row" style="margin-bottom: 100px">
    <div class="col-md-2">
      <button type="submit" class=" btn btn-secondary widthBtn" [routerLink]="['/']">Thoát</button>
    </div>
    <div class="col-md-8 text-center">
      <button class="btn btn-primary widthBtn" routerLink="/create">Thêm mới</button>
      <button class="btn btn-primary disabled1 widthBtn" style="margin: 0 10px"   [disabled]="index == -1" [routerLink]="['/edit',index]">Chỉnh sửa</button>
      <button type="button" class="btn btn-danger disabled1 widthBtn" (click)="delete(index)" [disabled]="index == -1"
              data-toggle="modal" data-target="#staticBackdrop">Xóa</button>
    </div>
    <div class="col-md-2">
      <button class=" btn btn-primary widthBtn" style="float: right" routerLink="/trashCan">Thùng rác</button>
    </div>
  </div>


</div>
