
  <div class="container-header bodyHeader">
    <div class="container">
      <div class="header-content navbar row  justify-content-between align-items-center">
        <div class="logo-now col-auto"><span><a routerLink="/body">
        <img style="height: 60px;width: 120px" src="https://i.imgur.com/XwUUZ5z.png" alt="ShopeeFood">
      </a></span></div>

        <div class="main-nav col"><a class="nav-item active" style="font-size: 30px;text-decoration: none; margin-left: 150px" routerLink="/body">Đồ ăn</a>
          <a class="nav-item" style="font-size: 30px;text-decoration: none">Giỏ hàng</a>
          <a class="nav-item" style="font-size: 30px;text-decoration: none" >Quản lý</a>

        </div><div class="header-icon-search col-auto">
      <span data-toggle="modal" data-target="#modal-search">
        <span class="icon icon-search-dark"></span>
      </span>
      </div>

        <div class="user-acc col-auto">
          <button type="button" class="btn btn-none-bg btn-login"  routerLink="/login">Đăng nhập</button>
        </div>
      </div>
    </div>
  </div>


