

<div id="carouselExampleInterval" class="carousel slice slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img style="height: 300px" src="https://i.imgur.com/NxRFCnS.png" class="d-block w-100" alt="https://i.imgur.com/NxRFCnS.png">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img style="height: 300px" src="https://i.imgur.com/ZraoibM.png" class="d-block w-100" alt="https://i.imgur.com/ZraoibM.png">
    </div>
    <div class="carousel-item">
      <img style="height: 300px" src="https://i.imgur.com/w0uw2Pa.png" class="d-block w-100" alt="https://i.imgur.com/w0uw2Pa.png">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div class="sticky-top3">
<nav class="navbar navbar-expand-lg navbar-light container-header bodyHeader bg-light">
  <div class="container">
    <a class="navbar-brand" style="font-weight: bold" routerLink="/"><img style="width: 100px;height: 50px" src="https://i.imgur.com/XwUUZ5z.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="margin-left: 100px" class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-1"  id="kitty-drop">
        <li class="nav-item cart">
          <a style="color: black" class="nav-link" routerLink="/"><i style="color: black" class="fa-solid fa-utensils"></i><p class="hover"> Đồ ăn</p></a>
        </li>
        <li *ngIf="role=='ROLE_CUSTOMER'" class="nav-item cart" style="position: relative">
          <a style="color: black;position: relative" routerLink="/cart"><i style="color: black" class="fa-solid fa-cart-shopping icon"></i><p class="hover"> Giỏ hàng</p></a>
         <span *ngIf="total>0" style="background-color: red;color: cornsilk;position: absolute;padding:0 7px;border-radius: 50%;top: 20px;right: 25px">{{total}}</span>
        </li>
        <li *ngIf="role=='ROLE_ADMIN'||role=='ROLE_EMPLOYEE'" class="nav-item cart">
          <a style="color: black" class="nav-link" ><i style="color: black" class="fa-solid fa-wrench"></i><p class="hover"> Quản lý</p></a>
          <ul style="width: 180px">
            <li routerLink="/food">Món ăn</li>
<!--            <li>Nhân viên</li>-->
            <li routerLink="/bill">Lịch sử mua hàng</li>
          </ul>
        </li>
      </ul>
    </div>

      <div  class="cart size-text" style="height: 55px">
        <div style="margin-top: 13px">
          <a  routerLink="/login" (click)="login()"  *ngIf="isLogged == false" style="text-decoration: none;color: black">
            <i class="fa-solid fa-user icon" style="color: black"></i><p class="hover"> Đăng nhập</p></a>
        </div>
      </div>
      <div  class="cart size-text" style="height: 55px">
        <a  *ngIf="isLogged == true" style="margin-left: 50px;cursor: pointer;text-decoration: none;color: #29324e">
          <div style="margin-left: 150px;margin-top: -73px" class="collapse navbar-collapse" id="navbarResponsive2">
            <ul class="navbar-nav ms-1"  id="kitty-drop2">
              <li class="nav-item">
                <a style="color: black" class="nav-link" >
                  <img *ngIf="user.avatar==null" style="width: 40px;height: 40px;border-radius: 50%;border: 1px solid chocolate" src="https://static2.yan.vn/YanNews/2167221/202102/facebook-cap-nhat-avatar-doi-voi-tai-khoan-khong-su-dung-anh-dai-dien-e4abd14d.jpg" alt="Avatar" class="avatar dropdown-toggle">
                  <img *ngIf="user.avatar!=null" style="width: 40px;height: 40px;border-radius: 50%;border: 1px solid chocolate" src="{{user.avatar}}" alt="Avatar" class="avatar dropdown-toggle">
                  <p class="hover2"> {{user.name}}</p></a>
                <ul style="width: 190px;margin-top: 3px;margin-left: 50px">
                  <li style="font-size: 15px" routerLink="/profile"><i class="fa-sharp fa-solid fa-user" style="margin-right: 5px" routerLink="/profile"></i>Thông tin cá nhân</li>
                  <li  style="font-size: 15px" (click)="logout()"><i class="fa-sharp fa-solid fa-right-from-bracket" style="margin-right: 5px"></i> Đăng xuất</li>
                </ul>
              </li>
            </ul>
          </div>
<!--          <div id="dropdownMenuButton1" style="margin-top: -23px" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            <img *ngIf="user.avatar==null" style="width: 40px;height: 40px;border-radius: 50%;border: 1px solid chocolate" src="http://thuthuattienich.com/wp-content/uploads/2017/02/anh-dai-dien-facebook-doc-2.jpg" alt="Avatar" class="avatar dropdown-toggle">-->
<!--            <img *ngIf="user.avatar!=null" style="width: 40px;height: 40px;border-radius: 50%;border: 1px solid chocolate" src="{{user.avatar}}" alt="Avatar" class="avatar dropdown-toggle">-->
<!--            <a style="text-transform: uppercase"></a> </div>-->
<!--          <a style="color: black" class="nav-link" >-->
<!--            <img *ngIf="user.avatar==null" style="width: 40px;height: 40px;border-radius: 50%;border: 1px solid chocolate" src="http://thuthuattienich.com/wp-content/uploads/2017/02/anh-dai-dien-facebook-doc-2.jpg" alt="Avatar" class="avatar dropdown-toggle">-->
<!--            <img *ngIf="user.avatar!=null" style="width: 40px;height: 40px;border-radius: 50%;border: 1px solid chocolate" src="{{user.avatar}}" alt="Avatar" class="avatar dropdown-toggle">-->
<!--            <p class="hover"> {{user.name}}</p></a>-->
<!--          <div  class=" dropdown-menu" aria-labelledby="dropdownMenuButton1"  style="font-size: 15px">-->
<!--            <p class="category-item dropdown-item" routerLink="/profile">-->
<!--              <i class="fa-sharp fa-solid fa-user" style="margin-right: 5px" routerLink="/profile"></i> Thông tin cá nhân</p>-->
<!--            <p class="category-item dropdown-item" (click)="logout()">-->
<!--              <i class="fa-sharp fa-solid fa-right-from-bracket" style="margin-right: 5px"></i> Đăng xuất</p>-->
<!--          </div>-->
        </a>
      </div>


<!--    <div *ngIf="isLogged == true"  class="cart size-text" style="margin-left: 80px;">-->
<!--      <a style="cursor: pointer" (click)="logout()"><p class="hover"> Đăng xuất</p></a>-->
<!--    </div>-->

  </div>
</nav>
</div>
