
  <div class="col-lg-3 sticky-top2"  style="margin-bottom: 335px">
    <img src="https://i.imgur.com/FPbWYHe.jpg" style="width: 345px;height: 670px" >
  </div>
  <div class="col-lg-8" style="margin-left: 450px;margin-top: -1050px">
    <section class="section">
      <div class="grid">
        <article class="card" style="margin-top: 100px" *ngFor="let food of foodList['content'], index as i">
          <img class="card__image" src="{{food.image}}" (click)="showDetail(food.id)" style="margin-right: 7px"/>
          <div class="card__data">
            <div class="card__info">
              <h2>{{food.name}}</h2>
              <p>{{food.description }}</p>
            </div>
            <h3 class="card__price">{{food.price | currency: 'VND': 'symbol'}}</h3>
            <button class="card__add" (click)="addCart(food.id)">+</button>
          </div>
        </article>
      </div>
    </section>
  </div>
<!--  [routerLink]="['/detail',food.id]"-->


