<footer class="container-fluid d-flex justify-content-center" style="background-color: #CCCC99">
  <div class="col-1"></div>
  <div class="col-10 container-fluid row my-2">
    <div class="col-3">
      <div class="my-3" style="width: 230px">
        <a href="">
          <img src="https://i.imgur.com/XwUUZ5z.png" height="200"
               width="300"/>
        </a>
      </div>
    </div>
    <div class="col-9 d-flex align-items-center">
      <div class="col-4">

        <div class="text-start">
          <h6>
            <img style="width: 30px;height: 30px" src="https://i.imgur.com/cNzrizD.png">
            <span> Hotline</span>
          </h6>
          <p>(+84) 368 8494 71</p>
        </div>
      </div>
      <div class="col-4">
        <div class="text-start">
          <h6>
            <i class="fa-solid fa-handshake-angle"></i>
            <span> Hỗ trợ</span>
          </h6>
          <p>hotro@foodStore.com.vn</p>
        </div>
      </div>
      <div class="col-4">
        <div class="text-start">
          <h6>
            <i class="fa-solid fa-headset"></i>
            <span> Chăm sóc khách hàng</span>
          </h6>
          <p>chamsockhachhang@batdongsan.com.vn</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</footer>
