<div class="container py-5" style="margin-bottom: 100px;margin-top: 50px">
  <div class="card card-registration card-registration-2">


    <div class="heading-section">
      <h2>Chi tiết món ăn</h2>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <div style="margin-top: -50px">
          <img style="width: 365px;height: 365px" src="{{food.image}}" />
        </div>

      </div>
      <div class="col-md-6">
        <div class="product-dtl">
          <div class="product-info">
            <div class="product-name">{{food.name}}</div>
            <div class="reviews-counter">
              <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" checked />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" checked />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" checked />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
              </div>
              <span>3 Sao</span>
            </div>
            <div class="product-price-discount"><span>{{food.price| number}}đ</span><span class="line-through">{{food.price + 5000| number}} đ</span></div>
          </div>
          <p>{{food.description}}</p>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label for="size">kích thước loại :</label>
              <select #select (change)="setSize(select.value)" id="size" style="width: 115px" class="form-control">
                <option [value]="'S'">S</option>
                <option [value]="'M'">M</option>
                <option [value]="'L'">L</option>
                <option [value]="'XL'">XL</option>
              </select>
            </div>

          </div>
          <div class="product-count"><br>
            <button *ngIf="role=='ROLE_CUSTOMER'|| role==''" (click)="addCart()" class="round-black-btn btn btn-block btn-lg btn-size"
                    data-mdb-ripple-color="muted" type="button">Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
