
<div style="margin-left: 70px;margin-right: 70px">
  <h1 class="text-center" style="margin: 100px 0 50px">Danh sách món ăn đã bị xóa khỏi cửa hàng</h1>

  <div style="height: 300px">

    <table class="table table-hover">
      <thead>
      <tr class="bg-info" style="color: white">
        <th scope="col" style="width: 100px">STT</th>
        <th scope="col" style="width: 200px">Tên món ăn</th>
        <th scope="col" style="width: 150px">Giá(VND)</th>
        <th scope="col" style="width: 500px">Mô tả món ăn</th>
      </tr>
      </thead>

      <tbody>
      <tr  [class.choose]="food.id == index" (click)="choice(food.id,food.name)"  style="cursor: pointer"
           *ngFor="let food of pageFood['content'], index as i">
        <td>{{i + 1 + pageFood.number * pageFood.size}}</td>
        <td>{{food.name}}</td>
        <td>{{food.price | currency: 'VND': 'symbol'}}</td>
        <td>{{food.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-bottom: 100px">
    <button type="submit" class=" btn btn-secondary" [routerLink]="['/food']">Quay lại danh sách</button>
    <button type="button" class="btn btn-primary disabled1" (click)="restore(index)" [disabled]="index == -1" style="margin-left: 430px">
      Khôi phục
    </button>
  </div>

  <div class="col-12">
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link"
                                 [ngClass]="pageFood?.first ? 'disabled': ''"
                                 (click)="gotoPage(0)"> << </a></li>
        <li class="page-item" *ngIf="pageFood.number - 2 > 0">
          <a class="page-link" (click)="gotoPage(pageFood.number - 3)">{{pageFood.number - 2}}</a>
        </li>
        <li class="page-item" *ngIf="pageFood.number - 1 > 0">
          <a class="page-link" (click)="gotoPage(pageFood.number - 2)">{{pageFood.number - 1}}</a>
        </li>
        <li class="page-item" *ngIf="pageFood.number > 0">
          <a class="page-link" (click)="gotoPage(pageFood.number   - 1)">{{pageFood.number}}</a>
        </li>

        <li class="page-item active"><a class="page-link">{{pageFood.number + 1}}</a></li>

        <li class="page-item" *ngIf="pageFood.number + 2 <= pageFood.totalPages">
          <a class="page-link" (click)="gotoPage(pageFood.number + 1)">{{pageFood.number + 2}}</a>
        </li>
        <li class="page-item" *ngIf="pageFood.number + 3 <= pageFood.totalPages">
          <a class="page-link" (click)="gotoPage(pageFood.number + 2)">{{pageFood.number + 3}}</a>
        </li>
        <li class="page-item" *ngIf="pageFood.number + 4 <= pageFood.totalPages">
          <a class="page-link" (click)="gotoPage(pageFood.number + 3)">{{pageFood.number + 4}}</a>
        </li>
        <li class="page-item"><a class="page-link"
                                 [ngClass]="pageFood.last ? 'disabled': ''"
                                 (click)="gotoPage(pageFood.totalPages - 1)"> >> </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
