<div style="margin-left: 70px;margin-right: 70px;margin-bottom: 100px">
  <div *ngIf="index==0">
    <h1 class="text-center" style="margin: 60px 0 50px">Lịch sử mua hàng</h1>
    <div style="height: 300px">
      <table class="table table-striped" >
        <thead>
        <tr class="bg-info" style="color: white">
          <th scope="col" class="text-center" style="width: 30px">STT</th>
          <th scope="col" style="width: 200px">Khách hàng</th>
          <th scope="col" style="width: 200px">Thời gian mua</th>
          <th scope="col" style="width: 150px">Tổng tiền phải trả</th>
          <th scope="col" class="text-center" style="width: 50px">Chi tiết</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bill of pageBill.content index as i">
          <td  class="text-center">{{i + 1 + pageBill.number * pageBill.size}}</td>
          <td>{{bill.user.name}}</td>
          <td>{{bill.buyDate}}</td>
          <td>{{bill.total | currency: 'VND': 'symbol'}}</td>
          <td  class="text-center">
            <button class="btn btn-info button" (click)="showBillDetail(bill.id)">Xem</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12" style="margin:40px">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link"
                                   [ngClass]="pageBill?.first ? 'disabled': ''"
                                   (click)="gotoPage(0)"> << </a></li>
          <li class="page-item" *ngIf="pageBill.number - 2 > 0">
            <a class="page-link" (click)="gotoPage(pageBill.number - 3)">{{pageBill.number - 2}}</a>
          </li>
          <li class="page-item" *ngIf="pageBill.number - 1 > 0">
            <a class="page-link" (click)="gotoPage(pageBill.number - 2)">{{pageBill.number - 1}}</a>
          </li>
          <li class="page-item" *ngIf="pageBill.number > 0">
            <a class="page-link" (click)="gotoPage(pageBill.number   - 1)">{{pageBill.number}}</a>
          </li>
          <li class="page-item active"><a class="page-link">{{pageBill.number + 1}}</a></li>

          <li class="page-item" *ngIf="pageBill.number + 2 <= pageBill.totalPages">
            <a class="page-link" (click)="gotoPage(pageBill.number + 1)">{{pageBill.number + 2}}</a>
          </li>
          <li class="page-item" *ngIf="pageBill.number + 3 <= pageBill.totalPages">
            <a class="page-link" (click)="gotoPage(pageBill.number + 2)">{{pageBill.number + 3}}</a>
          </li>
          <li class="page-item" *ngIf="pageBill.number + 4 <= pageBill.totalPages">
            <a class="page-link" (click)="gotoPage(pageBill.number + 3)">{{pageBill.number + 4}}</a>
          </li>
          <li class="page-item"><a class="page-link"
                                   [ngClass]="pageBill.last ? 'disabled': ''"
                                   (click)="gotoPage(pageBill.totalPages - 1)"> >> </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
  </div>
  <div *ngIf="index==1"  style="margin-left: 70px;margin-right: 70px;margin-bottom: 100px">
    <h1 class="text-center" style="margin: 60px 0 50px">Chi tiết</h1>
    <div style="height: 300px;">
      <table class="table table-striped table-bordered" >
        <thead>
        <tr class="bg-info" style="color: white">
          <th scope="col" class="text-center" style="width: 30px">STT</th>
          <th scope="col" style="width: 200px">Tên món ăn</th>
          <th scope="col" style="width: 200px">Size</th>
          <th scope="col" style="width: 200px">Giá tiền</th>
          <th scope="col" style="width: 150px">Số lượng</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let billHistory of billHistory['content'] index as i">
          <td  class="text-center">{{i + 1}}</td>
          <td>{{billHistory.food.name}}</td>
          <td>{{billHistory.size}}</td>
          <td>{{billHistory.food.price | currency: 'VND': 'symbol'}}</td>
          <td>{{billHistory.quantity}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary" (click)="index=0" style="margin-left: 560px">Quay lại lịch sử mua hàng</button>
  </div>



